{% capture footer_contents %}
  {% unless page.amata_footer == false %}
    {% include amata-contact-footer.liquid %}
  {% endunless %}

  <div class="footer-full-bg">
    <div class="footer-inner-wrapper">
      <div class="footer-copyright">
        © {{ site.title }} All rights reserved.
      </div>
    </div>
  </div>  
{% endcapture %}

{{ footer_contents }}