<header>
  {% if page.hero_landing %}
    {% include full-page-landing.liquid %}
    <div id="navbar-container" class="navbar-hidden">
      {% include navbar.liquid %}
    </div>
  {% else %}
    <div id="navbar-container">
      {% include navbar.liquid %}
    </div>
  {% endif %}
  
  {% if site.enable_progressbar and page.navbar_auto_hide != true %}
    <progress id="progress" value="0">
      <div class="progress-container">
        <span class="progress-bar"></span>
      </div>
    </progress>
  {% endif %}
</header>
<!-- Anchor point for scrolling from hero landing to content -->
<div id="projects-start"></div>