<header>
  {% comment %} Single consolidated navbar {% endcomment %}
  <div id="navbar-container">
    {% include navbar.liquid %}
  </div>
  
  {% comment %} Only include progress bar if auto-hide is disabled {% endcomment %}
  {% if site.enable_progressbar and page.navbar_auto_hide != true %}
    <progress id="progress" value="0">
      <div class="progress-container">
        <span class="progress-bar"></span>
      </div>
    </progress>
  {% endif %}
  
  {% if page.navbar_scroll_effect %}
    <script src="{{ '/assets/js/navbar-controller.js' | relative_url }}"></script>
  {% endif %}
</header>