{% unless page.url == "/sitemap.xml" %}
<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: 'th' }}">
  <!-- Head -->
  <head>
    {% if page.redirect %}
      {% if page.redirect == true %}
        {% assign redirect = site.baseurl | append: '/' %}
      {% elsif page.redirect contains '://' %}
        {% assign redirect = page.redirect %}
      {% else %}
        {% assign redirect = page.redirect | relative_url %}
      {% endif %}
      <meta http-equiv="refresh" content="3; url={{ redirect }}">
    {% endif %}
    
    {% include head.liquid %}
    
    {% if page.need_aos %}
      {% include aos-init.liquid need_aos=true duration=700 easing="ease-out-cubic" once=true delay=0 %}
    {% endif %}
  </head>
  
  <!-- Body -->
  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% if page.navbar_auto_hide %}navbar-auto-hide{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}" 
        {% if page.lang %}data-lang="{{ page.lang }}"{% endif %}>
        
    {% include header.liquid %}

    {% if page.contact_info %}
      {% include contact_info_button.liquid %}
    {% endif %}

    <!-- Content -->
    <div class="container mt-5 landing-page-content" role="main">
      {{ content }}
    </div>

    <!-- Footer -->
    {% if page.use_custom_footer %}
      {% include amata-footer.liquid 
         language=page.lang 
         aos="fade" 
         aos_once="true" %}
    {% else %}
      {% include footer.liquid %}
    {% endif %}

    <!-- JavaScripts -->
    {% include scripts.liquid %}
  </body>
</html>
{% endunless %}